%packages
@base
@core
@editors
@system-tools
@text-internet
keyutils
trousers
fipscheck
device-mapper-multipath
audit
puppet
xorg-x11-xauth
sysstat
-nmap
-samba-client
-bluez-hcidump
-slrn
-mutt
-cadaver
